body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #111;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 320px;
}

button {
    background: #4caf50;
    border: none;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

#keyBox {
    margin-top: 20px;
}

.hide {
    display: none;
}

.footer {
    margin-top: 20px;
    opacity: .6;
    font-size: 14px;
}
